{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        <section class="gh-topic gh-topic-grid">
            <h2 class="gh-topic-name !text-[43px] text-center">
               
                  LETTERS FROM THE THRESHOLD


                

            </h2>

            <div class="gh-topic-content ">
                {{#get "posts" filter="tag:library" limit="7"}}
    {{#foreach posts}}
        {{> "loop-grid"}}
    {{/foreach}}
{{/get}}
            </div>



            <footer class="gh-topic-footer !text-center">
    {{#match pagination.pages ">" 1}}
        <a class="gh-topic-link" href="{{@site.url}}/tag/library">
            Show more {{> "icons/arrow"}}
        </a>
    {{/match}}
</footer>
        </section>

        {{#if @custom.enter_tag_slugs_for_primary_sections}}
            {{#get "tags" filter="slug:[{{@custom.enter_tag_slugs_for_primary_sections}}]"}}
                {{#foreach tags}}
                    {{> "topic-grid"}}
                {{/foreach}}
            {{/get}}
        {{else}}
            {{#match posts.length ">" 1}}
                {{#get "tags" include="count.posts" order="count.posts desc" limit="3"}}
                    {{#foreach tags}}
                        {{> "topic-grid"}}
                    {{/foreach}}
                {{/get}}
            {{/match}}
        {{/if}}

       
            
    </div>
</main>